*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
build/
gradle/
gradlew
gradlew.bat
local.properties
.idea/
build
bin/
gen/
*.class
*.dex
*.apk
*.log